body{
    background-color: #1f202d;
    font-family: "Jura", sans-serif;
    font-weight: 600;
    margin: 0;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700 */

/* .jura-body {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
} */
.navbar{
    background-color: #1f202d; /*#12121a*/
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    box-shadow: 2px 2px 8px 0px #131114, 2px 2px 8px 0px rgba(0, 0, 0, 0.19); /*131114*/
    border-radius: 30px;
}
.navbar-nav{
    gap: 1rem;
}

.navbar-brand{
    margin-left: 1rem;
    margin-right: 2rem;
}
.btn-custom{
    background-color: #1f202d;
    color: #f8f9fa;
    margin-right: 1rem;
    border-radius: 30px;
}

.btn-light{
    border-radius: 30px;
    box-shadow: 2px 2px 8px 1px #292829 inset, 2px 2px 8px 2px rgba(0, 0, 0, 0.19);
    border: 0;
    margin-right: 1rem;
}

.btn-custom:hover{
    /* background-color: #3b3c3c; */
    background-color: #444a5b;
    color: #f8f9fa;
}

/* Landing */
.container-teacher{
    background-image: linear-gradient(to top, #1f202d, #41435f, #1f202d);
    height: 98dvh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.phrase-teacher {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: #12121a; /*#12121a*/
    height: 550px;
    width: 600px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 4px #0a0a0a inset, 2px 2px 8px 1px rgba(0, 0, 0, 0.19);
    margin-bottom: 2.5rem;  /* #131114 */
}

.phrase-teacher p {
    color: #ffffff;
    font-size: 2.3rem;
    margin-top: 3rem;
}

.imgt {
    height: 300px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 4px #131114, 2px 2px 8px 4px rgba(0, 0, 0, 0.19);
    margin-top: 8rem;
}

.teacher-button {
    background-color: #c3c1c797;
    width: 12rem;
    margin-top: 5rem;
    padding: 0.5rem;
    border: 0;
    border-radius: 40px;
    box-shadow: 2px 2px 8px 2px #292829 inset, 2px 2px 8px 4px rgba(0, 0, 0, 0.19);
    /* margin-left: 12rem; */
}
/* IT */
.container-IT{
    height: 100dvh;
    background-color: #d9d9d9;
    background-image: linear-gradient(to top, #D9D9D9, #1f202d);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    margin: 0 auto;
}

.imgi{
    height: 350px;
    width: 500px;
    border-radius: 10px;
    margin-top: 8.5rem;
    box-shadow: 2px 2px 8px 2px #3a393a, 2px 2px 8px 10px rgba(0, 0, 0, 0.19);
}

.phrase-IT{
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 600px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 2px #9d9e9e inset, 2px 2px 8px 10px rgba(0, 0, 0, 0.19);
    margin-top: 2rem;
}
.phrase-IT p{
    text-align: right;
}

.description-IT{
    margin-left: 7rem;
}

.IT-button{
    background-color: #272A34;
    color: #D9D9D9;
    width: 18rem;
    margin-top: 2.5rem;
    padding: 0.5rem;
    border-radius: 30px;
    box-shadow: 2px 2px 8px 2px #818283 inset, 2px 2px 8px 4px rgba(0, 0, 0, 0.19);
    border: 0;
}

.heading-IT{
    color: #000;
    font-size: 2.3rem;
}

/* Accounts */
.container-accounts{
    height: 100dvh;
    background-color: #D9D9D9;
    background-image: linear-gradient(to bottom, #D9D9D9, #1f202d);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    margin: 0 auto;
}

.imga{
    height: 300px;
    width: 550px;
    border-radius: 10px;
    margin-top: 8rem;
    box-shadow: 2px 2px 8px 2px #3a393a, 2px 2px 8px 10px rgba(0, 0, 0, 0.19);
}

.accounts-button{
    background-color: #272A34;
    color: #D9D9D9;
    width: 18rem;
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 30px;
    box-shadow: 2px 2px 8px 2px #818283 inset, 2px 2px 8px 4px rgba(0, 0, 0, 0.19);
    border: 0;
}

.heading-accounts{
    color: #000;
    font-size: 2.3rem;
}

.phrase-accounts{
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 600px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 2px #3a393a inset, 2px 2px 8px 10px rgba(0, 0, 0, 0.19);
    margin-bottom: 2rem;
}

.description-accounts{
    margin-right: 12rem;
    margin-top: 1rem;
}
/* Footer */
footer{
    height: 15rem;
    width: 100%;
    background-color: #0e0e14;
}
