body{
  height: 96.7dvh;
  background-image: linear-gradient(to top right, beige, #442d07);
  font-family: "Jura", sans-serif;
  font-weight: 600;
  margin: 0;
}

/* .design{
    height: 100dvh;
    width: 52dvw;
    border-radius: 0 50% 50% 0;
    background-color: #111219;
    z-index: -1;
    display: inline-block;
    position: absolute;
} */

.navbar{
  background-color: beige;
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow: 2px 2px 8px 0px #131114, 2px 2px 8px 0px rgba(0, 0, 0, 0.19); /*131114*/
  border-radius: 30px;
}
.navbar-nav{
  gap: 1rem;
}

.navbar-brand{
  margin-left: 1rem;
  margin-right: 2rem;
}

.btn-light{
  background-color: #1e1e1e;
  color: #D9D9D9;
  border-radius: 30px;
  box-shadow: 2px 2px 8px 1px #292829 inset, 2px 2px 8px 2px rgba(0, 0, 0, 0.19);
  border: 0;
  margin-right: 1rem;
}

.greeting{
  color: #000;
  margin-top: 0.75rem;
  margin-right: 1.5rem;
}

.container-accounts{
    height: 75dvh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.img{
    height: 300px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 3px #000000, 4px 4px 20px 6px rgba(0, 0, 0, 0.19); /*#1c1b1c */
}

.heading{
  color: #000;
  font-size: 2.3rem;
  margin-top: 1.5rem;
}

.description{
  color: #000;
  font-size: 1.25rem;
  margin-top: 3.5rem;
}

.container-button{
  display: flex;
  justify-content: center;
}
.teacher-button{
  background-color: #1e1e1e;
  color: #D9D9D9;
  width: 18rem;
  padding: 0.5rem;
  border-radius: 30px;
  box-shadow: 2px 2px 8px 2px #292829 inset, 2px 2px 8px 4px rgba(0, 0, 0, 0.19);
  border: 0;
}

.toggle-button{
  background-color: #1e1e1e;
  color: #D9D9D9;
  width: 8rem;
  padding: 0.3rem;
  border-radius: 30px;
  box-shadow: 2px 2px 8px 2px #292829 inset, 2px 2px 8px 4px rgba(0, 0, 0, 0.19);
  border: 0;
}

.light-mode{
  background-image: linear-gradient(to bottom left, #41435f, #1f202d);
    /* background-color: #8f9abc; */
}

.heading-light-mode{
  color: #d9d9d9;
}

.description-light-mode{
  color: #D9D9D9;
}

.button-light-mode{
  background-color: #cbc9d0;
  color: #000;
}

.navbar-light-mode{
  background-color: #1f202d;
}

.img-light{
    box-shadow: 2px 2px 8px 2px #000, 4px 4px 20px 6px rgba(0, 0, 0, 0.19);
}

.hidden {
    visibility: hidden;
    display: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.close-modal {
    position: absolute;
    right: 2rem;
    margin-top: 1px;
    font-size: 3.5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
    display: inline-block;
    height: 50px;
    width: 50px;
}

.modal{
    position: absolute;
    display: flex;
    height: 550px;
    width: 500px;
    flex-direction: column;
    background-color: #e0dddd;
    gap: 40px;
    z-index: 10;
    border-radius: 15px;
    box-shadow: 2px 2px 8px 2px #292829 inset, 2px 2px 8px 4px rgba(0, 0, 0, 0.19);
    margin: 6rem 32rem;
}

.search-heading{
    display: inline;
    width: 300px;
    margin-top: 1.8rem;
    margin-left: 1rem;
}
input{
    border-radius: 30px;
    padding: 12px 15px;
    margin-left: 2.8rem;
    width: 380px;
    box-shadow: 2px 2px 8px 2px #292829 inset, 2px 2px 8px 4px rgba(0, 0, 0, 0.19);
}

.subject{
    margin-top: 1.2rem;
}

.buttons{
    display: flex;
    gap: 30px;
    margin-left: 7rem;
}

.bn{
    width: 8rem;
    height: 2.5rem;
    border-radius: 30px;
    margin-top: 1.5rem;
    background-color: #0a0a0a;
    color: #e0dddd;
    box-shadow: 2px 2px 8px 2px #313031 inset, 2px 2px 8px 4px rgba(0, 0, 0, 0.19); /*#292829 434143*/
}

.dropdown {
    height: fit-content;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 3px 1px;
    margin-left: 4rem;
    width: 380px;
    box-shadow: 2px 2px 8px 2px #292829 inset, 2px 2px 8px 4px rgba(0, 0, 0, 0.19);
    background-color: #fff;
  }

  .input-box {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    outline: 0.3mm solid rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }
  .input-box::before {
    content: "expand_more";
    font-family: "Material Icons";
    position: absolute;
    font-size: 18px;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
    width: fit-content;
    height: fit-content;
  }
  .input-box.open::before {
    content: "expand_less";
  }
  .input-box:empty::after {
    content: "Select Title";
    color: rgba(0, 0, 0, 0.5);
  }
  .list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: fit-content;
    background: white;
    margin-top: 10px;
    border-radius: 2mm;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-height: 0;
    transition: 0.25s ease-out;
  }
  .list input {
    display: none;
  }
  .list label {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
  }
  .list label .material-icons-outlined,
  .input-box .material-icons-outlined {
    margin-right: 5px;
    font-size: 22px;
  }
  .list label:hover {
    background: rgba(0, 0, 0, 0.08);
  }
  input:checked + label {
    color: rgb(20, 117, 213);
    background: rgb(238, 245, 252);
  }
  input:checked + label::before {
    content: "done";
    font-family: "Material Icons";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
    font-size: 18px;
  }
  .open {
    outline: 0.7mm solid rgb(20, 117, 213);
  }
  .title {
    font-family: poppins;
    font-size: small;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .search-box {
    width: 95%;
    box-sizing: border-box;
    padding: 10px 8px;
    margin-right: 6rem;
  }
  #search {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 30px;
    border: none;
    outline: 0.3mm solid rgba(0, 0, 0, 0.15);
    padding-left: 1.25rem;
  }
  #search:focus {
    outline: 0.5mm solid rgba(0, 0, 0, 0.35);
  }

.topic{
  margin-bottom: 2.75rem;
  margin-left: 4rem;
}

.problem{
  margin-bottom: 2.75rem;
  margin-left: 4rem;
}
